* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Sans-Serif;
}
body {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: 1000px ;
}
.cari {
  text-align: center;
  margin-top: 80px;
}
.cari input {
  color: white;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  height: 30px;
  border-radius: 30px;
  font-size: 18px;
  margin-right: 16px;
  flex: 1;
  padding: 10px 13px;
}
.cari button {
  background: transparent;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.fa-magnifying-glass:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}
.fa-magnifying-glass {
  background-color: transparent;
  color: white;
  font-size: 20px;
}
.box {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.box-utama {
  width: 350px;
  height: 350px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  margin: 20px;
  color: white;
  text-align: center;
}
.box-utama:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.box-utama h1 {
  font-size: 50px;
  font-weight: 600;
}
.box-utama h2 {
  font-size: 25px;
  font-weight: 800;
  margin-top: -10px;
  color: white;
}
.detail-box {
  width: 200px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: white;
}
.detail-box:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.foto {
  height: 60px;
  width: 60px;
  margin-top: 20px;
}
.humidity, .wind, .pressure {
  margin-top: 30px;
  margin-left: 10px;
}
p {
  margin-left: 10px;
}
@media screen and (max-width:768px) {
  .box {
    flex-direction: column;
    align-items: center;
  }
  .detail-box {
    width: 350px;
  }
}